<header class="navbar">

<div class="logo">MoviesDekho</div>

<nav class="nav-links">
<a href="../pages/index.html">Home</a>
<a href="../pages/movies.html">Movies</a>
<a href="../pages/categories.html">Categories</a>
<a href="../pages/top-rated.html">Top Rated</a>
<a href="../pages/actors.html">Actors</a>
<a href="../pages/watchlist.html">Watchlist</a>
</nav>

<div class="nav-right">
<input placeholder="Search">
<button id="loginBtn">Login</button>
<div id="userBox" style="display:none;">
<span id="username"></span>
<button id="logoutBtn">Logout</button>
</div>
</div>

</header>