<nav class="navbar">
  <div class="nav-left">
    <img src="../assets/img/logo.png" class="logo" />
  </div>

 
  <ul class="nav-center">
    <li><a href="../pages/index.html" class="active">Home</a></li>
    <li><a href="../pages/shows.html">Shows</a></li>
    <li><a href="../pages/movies.html">Movies</a></li>
    <li><a href="../pages/mylist.html">My List</a></li>
  </ul>

 
  <div class="nav-right">
    <input type="text" placeholder="Search..." />
    <img src="../assets/img/user.png" class="profile" id="profile" />
  </div>

</nav>